* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif
}

body {
    margin: 0;
    padding: 0;
    height: 200vh;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #FAF9F6;
}

::-webkit-scrollbar {
    display: none;
}

#NYC {
    position: fixed;
    width: 50vw;
    top: 50%;
    left: 40%;
    font-size: 15rem;
    pointer-events: none;
    line-height: 12rem;
    text-align: end;
}

#NYC,
.trainNames {
    opacity: 0.5;
    color: white;
}

#trainContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    left: 10%;
    height: 225vh;
}

.trainNames {
    font-size: 3rem;
    pointer-events: none;
    line-height: 1rem;
    text-align: start;
    height: fit-content;
    font-weight: bold;
}

.line {
    position: absolute;
    transition: all 0.8s cubic-bezier(0.25, 1.5, 0.5, 1);
    /* used AI to figure out a "natural" looking bounce*/
}

.verticalLine {
    height: 210vh;
    background-color: black;
    /* transition: left 3s ease-in-out; */
}

.verticalLine.thick {
    width: 5vw;
}

.verticalLine.med {
    width: 1vw;
}

.verticalLine.thin {
    width: 0.5vw;
}

.horizontalLine {
    width: 100%;
    background-color: black;
    /* transition: top 3s ease-in-out; */

}

.horizontalLine.thick {
    height: 5vw;
}

.horizontalLine.med {
    height: 1vw;
}

.horizontalLine.thin {
    height: 0.5vw;
}


.hoverLine {
    position: absolute;
    /* background-color: #0039A6; */
    opacity: 0.5;
    z-index: -1;
}


#line1 {
    left: 15%;
    top: 0;

}

#line2 {
    left: 25%;
    top: 0;

}

#line3 {
    left: 30%;
    top: 0;

}

#line4 {
    left: 70%;
    top: 0;

}

#line5 {
    top: 30%;
    left: 0;

}

#line6 {
    top: 40%;
    left: 0;

}

#line7 {
    top: 70%;
    left: 0;

}

#line8 {
    top: 80%;
    left: 0;

}

#line9 {
    top: 10%;
    left: 0;

}

#line10 {
    top: 120%;
    left: 0;

}

#line11 {
    top: 160%;
    left: 0;

}

#line12 {
    top: 0;
    left: 80%;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    height: 100vh;

}

.grid {
    border: 1px solid black;
}

#grid1 {
    grid-column: span 2;
    grid-row: span 1;
}

#grid2 {
    grid-column: span 1;
    grid-row: span 4;
}

#grid3 {
    grid-column: span 3;
    grid-row: span 1;
}

#grid4 {
    grid-column: span 1;
    grid-row: span 3;
}

#grid5 {
    grid-column: span 2;
    grid-row: span 2;
}

#grid6 {
    grid-column: span 1;
    grid-row: span 2;
}

#grid7 {
    grid-column: span 2;
    grid-row: span 1;
}

#grid8 {
    grid-column: span 1;
    grid-row: span 1;
}

#grid9 {
    grid-column: span 3;
    grid-row: span 3;
}

#grid10 {
    grid-column: span 1;
    grid-row: span 4;
}